<title>web</title>
<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Highstock Example</title>

        <script type="text/javascript" src="static/jquery.js"></script>
        <style type="text/css">
${demo.css}
        </style>
        <script type="text/javascript">
$(function () {
	Highcharts.theme = {
            colors: ['#2b908f', '#90ee7e', '#f45b5b', '#7798BF', '#aaeeee', '#ff0066', '#eeaaee',
                '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'
            ],
            chart: {
                backgroundColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 1,
                        y2: 1
                    },                 
                    stops: [
                        [0, '#2a2a2b'],
                        [1, '#3e3e40']
                    ]
                },
             	// 图表宽度  
                width: 650,  
                // 图表高度  
                hight: 200,
                style: {
                    fontFamily: '\'Unica One\', sans-serif'
                },
                plotBorderColor: '#606063'
            },
            title: {
                style: {
                    color: '#E0E0E3',
                    textTransform: 'uppercase',
                    fontSize: '20px'
                }
            },
            subtitle: {
                style: {
                    color: '#E0E0E3',
                    textTransform: 'uppercase'
                }
            },
            xAxis: {
                gridLineColor: '#707073',
                labels: {
                    style: {
                        color: '#E0E0E3'
                    }
                },
                lineColor: '#707073',
                minorGridLineColor: '#505053',
                tickColor: '#707073',
                title: {
                    style: {
                        color: '#A0A0A3'

                    }
                }
            },
            yAxis: {
                gridLineColor: '#707073',
                labels: {
                    style: {
                        color: '#E0E0E3'
                    }
                },
                lineColor: '#707073',
                minorGridLineColor: '#505053',
                tickColor: '#707073',
                tickWidth: 1,
                title: {
                    style: {
                        color: '#A0A0A3'
                    }
                }
            },
            tooltip: {
                backgroundColor: 'rgba(0, 0, 0, 0.85)',
                style: {
                    color: '#F0F0F0'
                }
            },
            plotOptions: {
                series: {
                    dataLabels: {
                        color: '#B0B0B3'
                    },
                    marker: {
                        lineColor: '#333'
                    }
                },
                boxplot: {
                    fillColor: '#505053'
                },
                candlestick: {
                    lineColor: 'white'
                },
                errorbar: {
                    color: 'white'
                }
            },
            legend: {
                itemStyle: {
                    color: '#E0E0E3'
                },
                itemHoverStyle: {
                    color: '#FFF'
                },
                itemHiddenStyle: {
                    color: '#606063'
                }
            },
            credits: {
                style: {
                    color: '#666'
                }
            },
            labels: {
                style: {
                    color: '#707073'
                }
            },

            drilldown: {
                activeAxisLabelStyle: {
                    color: '#F0F0F3'
                },
                activeDataLabelStyle: {
                    color: '#F0F0F3'
                }
            },

            navigation: {
                buttonOptions: {
                    symbolStroke: '#DDDDDD',
                    theme: {
                        fill: '#505053'
                    }
                }
            },

            // scroll charts
            rangeSelector: {
                buttonTheme: {
                    fill: '#505053',
                    stroke: '#000000',
                    style: {
                        color: '#CCC'
                    },
                    states: {
                        hover: {
                            fill: '#707073',
                            stroke: '#000000',
                            style: {
                                color: 'white'
                            }
                        },
                        select: {
                            fill: '#000003',
                            stroke: '#000000',
                            style: {
                                color: 'white'
                            }
                        }
                    }
                },
                inputBoxBorderColor: '#505053',
                inputStyle: {
                    backgroundColor: '#333',
                    color: 'silver'
                },
                labelStyle: {
                    color: 'silver'
                }
            },

            navigator: {
                handles: {
                    backgroundColor: '#666',
                    borderColor: '#AAA'
                },
                outlineColor: '#CCC',
                maskFill: 'rgba(255,255,255,0.1)',
                series: {
                    color: '#7798BF',
                    lineColor: '#A6C7ED'
                },
                xAxis: {
                    gridLineColor: '#505053'
                }
            },

            scrollbar: {
                barBackgroundColor: '#808083',
                barBorderColor: '#808083',
                buttonArrowColor: '#CCC',
                buttonBackgroundColor: '#606063',
                buttonBorderColor: '#606063',
                rifleColor: '#FFF',
                trackBackgroundColor: '#404043',
                trackBorderColor: '#404043'
            },

            // special colors for some of the
            legendBackgroundColor: 'rgba(0, 0, 0, 0.5)',
            background2: '#505053',
            dataLabelsColor: '#B0B0B3',
            textColor: '#C0C0C0',
            contrastTextColor: '#F0F0F3',
            maskColor: 'rgba(255,255,255,0.3)'
        };

        // Apply the theme
     Highcharts.setOptions(Highcharts.theme);
	 // 使用当前时区，否则东八区会差八个小时
    Highcharts.setOptions({
    	lang:{  
            months: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],  
            shortMonths: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一', '十二'],  
            weekdays: ['星期天', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'],  
            exportButtonTitle:'导出PDF',  
            printButtonTitle:'打印报表'  
        }, 
        global: {
            useUTC: false
        },
        credits:{  
            enabled: false,  
            href: "http://189.cn",  
            text: '广西电信网运'  
        }
    });
    $.getJSON('/data/localhost?callback=?', function (data) {

        // Create the chart
        $('#container').highcharts('StockChart', {

        	/* chart:{
                events:{
                    load:function(){
                        var series = this.series[0]
                        setInterval(function(){
                        $.getJSON('/data/localhost?callback=?',function(data){
                            $.each(data,function(i,v){
                                series.addPoint(v)
                            })
                        })
                        },3000)
                    }
                }
                }, */
        	rangeSelector: {
                //inputEnabled: $('#container').width() > 480,
                buttonTheme: {
			        visibility: 'hidden'
			    },
			    labelStyle: {
			        visibility: 'hidden'
			    },
                selected: 1
            },
			
            title: {
            	// 日期时间格式化  
                xDateFormat: '%Y-%m-%d %A' ,
                text: 'local(windows10)内存监控'
            },
             
            series: [{
                name: 'localhost',
                data: data,
                type: 'spline',
                tooltip: {
                    valueDecimals: 2
                }
            }]
        });
    });

    $.getJSON('/data/132?callback=?', function (data) {
    	
	    // Create the chart
	    $('#container1').highcharts('StockChart', {
	
	    	rangeSelector: {
	    		selected: 1,
	    	    //inputEnabled: false,
                buttonTheme: {
			        visibility: 'hidden'
			    },
			    labelStyle: {
			        visibility: 'hidden'
			    }
            },
	
	        title: {
	        	// 日期时间格式化  
	            xDateFormat: '%Y-%m-%d %A' ,
	            text: '132(linux)内存监控'
	        },
	         
	        series: [{
	            name: '132',
	            data: data,
	            type: 'spline',
	            tooltip: {
	                valueDecimals: 2
	            }
	        }]
	    });
	});
 
	     
});

</script>
    </head>
    <body>
<script src="static/highstock.js"></script>
<script src="static/exporting.js"></script>

<table width=”1400″ border=”0″ cellspacing=”0″ cellpadding=”0″ >

<tr>
<td><div id="container"  ></div></td>
<td><div>   </div></td>
<td><div id="container1" ></div></td>
</tr>
</table>


    </body>
</html>